<div class="row">
  {{#if tournament.isDraft }}
    {{ggf-tournament.complete-setup}}
  {{else}}
    <div class="col s12">

      {{ggf-tournament.standings standings=tournament.standings}}

      {{ggf-tournament.tablescore tablescore=tournament.tablescore}}

    </div>
  {{/if}}
</div>

{{outlet}}