<h4>{{title}}</h4>

{{select-2
    content=rounds
    searchEnabled=false
    value=selectedRound
    placeholder='Choose round'
}}

{{#md-collection classNames="matches-collection" content=matchesList as |match|}}
  <div class="match-item">
    <div class="col m3 center-align">{{match.round}}</div>
    <div class="col m3 right-align">{{match.homeTeam}}</div>
    <div class="col m3 center-align">{{match.score}}</div>
    <div class="col m3 left-align">{{match.awayTeam}}</div>
  </div>
{{/md-collection}}