<h4>{{title}}</h4>

{{select-2
    content=rounds
    searchEnabled=false
    value=selectedRound
    class="col m2"
}}

{{#md-table content=matchesList class='striped centered' as |match|}}
  {{md-table-col row=match valueBindingPath='id' header='#'}}
  {{md-table-col row=match valueBindingPath='round' header='Round'}}
  {{md-table-col row=match valueBindingPath='homeTeam' header='Home Team'}}
  {{md-table-col row=match valueBindingPath='score' header='Score'}}
  {{md-table-col row=match valueBindingPath='awayTeam' header='Away Team'}}
{{/md-table}}
