
<div class="col s1">
  <span style=""># {{match.id}}</span>
</div>


<div class="col s4">
  <div class="row">
    {{#link-to 'tournament.team' match.homeTeamId}}
      {{match.homeTeam}}
    {{/link-to}}
  </div>

</div>

{{ggf-tournament.match-score homeScore=match.homeScore awayScore=match.awayScore status=match.status editState=editState toggle='toggleOnEditState'}}

<div class="col s4">
  {{#link-to 'tournament.team' match.awayTeamId}}
    {{match.awayTeam}}
  {{/link-to}}
</div>

{{#if editState}}
  <div class="col s12">
    <div class="col s1">&nbsp;</div>
    <div class="col s5 offset-s3">
      {{md-btn text='Confirm'
        action='confirmMatchResult'}}
      {{md-btn text='Undo'
        action='toggleOffEditState'}}
    </div>
  </div>
{{/if}}
