{{#md-card class="add-team"}}
    {{#md-card-content}}

        {{#if search}}

            {{select-2
            value=team
            minimumInputLength=3
            multiple=false
            query="queryOptions"
            placeholder="Choose team"
            }}


        {{else}}
            {{title}}
        {{/if}}

    {{/md-card-content}}

    {{#if search}}
        {{#md-card-action}}
            <a href="#" {{ action "submit" }}>Submit Team</a>
            <a href="#" {{ action "undo" }} class="undo">Undo</a>
        {{/md-card-action}}
    {{else}}
        {{#md-card-action class="search-action"}}
            <a href="#" {{ action "search" }}>Add Team</a>
        {{/md-card-action}}
    {{/if}}

{{/md-card}}
