<h2>Tablescore</h2>
<table class='bordered tablescore striped centered'>
  <thead>
    <tr>
      <td>#</td>
      <td>Team</td>
      <td title="Matches">M</td>
      <td title="Wins">W</td>
      <td title="Draws">D</td>
      <td title="Loses">L</td>
      <td title="Goals Scored">GS</td>
      <td title="Goals Againsted">GA</td>
      <td title="Goals Difference">GD</td>
      <td title="Points">P</td>
      <td title="Last matches">Form</td>
    </tr>
  </thead>
  <tbody>
    {{#each tablescore as |team|}}
      <tr>
        <td>{{team.index}}</td>
        <td>
          <img src="/teams-logo/{{lower-case team.name}}.png" class="team-logo">
          {{team.name}}
        </td>
        <td>{{team.matches}}</td>
        <td>{{team.wins}}</td>
        <td>{{team.draws}}</td>
        <td>{{team.loses}}</td>
        <td>{{team.goalsScored}}</td>
        <td>{{team.goalsAgainsted}}</td>
        <td>{{team.goalsDifference}}</td>
        <td>{{team.points}}</td>
        <td>{{last-matches-form form=team.form}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>

{{yield}}
