<td>{{match.id}}</td>
<td>{{match.homeTeam}}</td>
<td>
  <img src="/teams-logo/{{match.homeTeam}}.png" class="team-logo">
  {{score}}
  <img src="/teams-logo/{{match.awayTeam}}.png" class="team-logo">
</td>
<td>{{match.awayTeam}}</td>