<div class="row">
  <div class="col s12">
    <h3>{{model.name}}</h3>

    {{#md-tabs selected=selectedTab}}
        {{ggf-md.md-tab value='standings' title='Standings' link='tournament.standings'}}
        {{ggf-md.md-tab value='matches' title='Matches' link='tournament.matches'}}
        {{ggf-md.md-tab value='teams' title='Teams' link='tournament.teams'}}

        {{#if session.isAuthenticated}}
          {{ggf-md.md-tab value='settings' title='Settings' link='tournament.settings'}}
        {{/if}}
    {{/md-tabs}}

    {{outlet}}
  </div>
</div>
